<h2 id='title'>ember-pubsub</h2>

<button {{action 'publishColor' 'red'}} class='red'>Red</button>
<button {{action 'publishColor' 'blue'}} class='blue'>Blue</button>
<button {{action 'publishColor' 'green'}} class='green'>Green</button>

<ul>
{{#each log in content}}
  <li>{{log.color}}</li>
{{/each}}
</ul>
